h1 {
  color: red;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-transform: capitalize;
  color: #4a5565;
}
:root {
  --main-color: #cc470c;
}
.bg-main {
  background-color: var(--main-color);
}
.txt-main {
  color: var(--main-color);
}
.container-fluid {
  padding: 16px 32px !important;
  max-width: 1456px;
  margin-left: auto;
  margin-right: auto;
}
.icon {
  margin-right: 12px;
  width: 40px;
  height: 40px;
  border-radius: 12px;
}
.mega .icon {
  background-color: #fae7dc;
  transition: all 0.5s;
}
.logo p {
  line-height: 32px;
}
.navbar .nav-link:hover,
.navbar .btns button:first-child:hover {
  color: var(--main-color);
}
.navbar .btns button:last-child {
  padding: 12px 32px;
  transition: all 0.5s;
}
.navbar .btns button:last-child:hover {
  box-shadow: 5px 7px 10px 0 #cc460c43;
}
.navbar ul {
  gap: 20px;
}
.navbar-toggler:focus {
  outline: none !important;
  border: none;
}
.mega {
  width: 100%;
  padding: 32px;
  box-shadow: 0 0 10px 5px rgb(0 0 0 / 0.1);
  left: -165px !important;
  top: 36px !important;
  display: none;
  z-index: 1000;
}
.mega .inner {
  gap: 32px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.mega .inner h3 {
  font-size: 14px !important;
}
.mega .inner .elem {
  border-radius: 12px;
  padding: 12px;
}
.mega .inner .elem p:last-child {
  font-size: 14px;
  line-height: 20px;
}
.mega .inner .help {
  background-color: #faede7;
  border-color: #ffc6ad !important;
  border-radius: 12px;
}
.mega .inner .help p,
.mega .inner .help a {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 20px;
}
.mega .inner .help > a:hover {
  color: #a23303;
}
.mega .elem:hover {
  background-color: #fef7f3;
}
.mega .elem:hover .icon {
  transform: scale(110%);
}
#mga-toggle:checked ~ .mega {
  display: block !important;
}
#mga-toggle:checked ~ .nav-link .fa-angle-down {
  display: inline-block !important;
}
#mga-toggle:checked ~ .nav-link .fa-angle-up {
  display: none !important;
}
.hero {
  padding: 96px 0 64px;
  background-color: #fffdfa;
}
.hero h1 {
  font-size: 60px;
  line-height: 75px;
  font-weight: 900;
}
.hero h1 > :first-child {
  background-image: linear-gradient(
    to right,
    #7c2d12,
    var(--main-color),
    #c3410c
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: #fff0;
}
.hero h1 > :nth-of-type(2) {
  color: #7c2d12;
}
.hero h1 > :last-child {
  background-image: linear-gradient(to right, #fa913b, #eb5a0f);
  -webkit-background-clip: text;
  background-clip: text;
  color: #fff0;
}
.hero .package {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.hero .left {
  grid-column: 1/4;
  padding-right: 64px;
}
.hero .left .txt {
  margin-bottom: 32px;
}
.hero .left .txt p {
  line-height: 32px;
}
.hero .right {
  grid-column: 4/6;
}
.main-header {
  background-color: #fce8d9;
  font-size: 14px;
  line-height: 20px;
}
.hero-btns {
  margin-bottom: 32px;
}
.hero-btns button {
  padding: 16px 40px;
  font-size: 18px;
  line-height: 28px;
}
.hero-btns > :last-child {
  color: oklch(37.3% 0.034 259.733);
  border-color: #4a5565 !important;
  transition: all 0.5s;
}
.hero-btns > :last-child:hover {
  border-color: var(--main-color) !important;
  color: var(--main-color);
}
.hero-btns > :first-child {
  transition: all 0.5s;
}
.hero-btns > :first-child:hover {
  box-shadow: 0 5px 10px 5px #f57c2c6b;
  transform: translateY(-10%);
}
.hero .analysis {
  padding-top: 32px;
}
.hero .analysis .item:not(.item:last-child) {
  margin-right: 32px;
}
.hero .analysis .item div:first-child {
  font-size: 30px;
  line-height: 36px;
}
.right .image {
  padding: 32px;
  border-radius: 32px;
  box-shadow: 0 0 10px 5px rgb(0 0 0 / 0.13);
}
.back {
  background-color: #f7d9c9;
  border-radius: 32px;
  rotate: 3deg;
}
.hero-icon {
  width: 80px;
  height: 80px;
  border-radius: 12px;
}
.hero-icon i {
  font-size: 24px;
  line-height: 32px;
}
.hero-icon:last-of-type {
  background-color: #f57c2c;
  width: 96px;
  height: 96px;
  top: 0;
  right: 0;
  transform: translate(30%, -30%);
}
.hero-icon-1 {
  bottom: 0;
  left: 0;
  transform: translate(-30%, 30%);
}
.services,
.tech,
.testimonials,
.faq,
.contact {
  padding: 96px 0;
}
.title h2 {
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
}
.title h2 > :first-child {
  color: #7c2d12;
}
.title h2 > :last-child {
  background-image: linear-gradient(to right, #ea580c, #c2410c);
  -webkit-background-clip: text;
  background-clip: text;
  color: #fff0;
}
.title {
  margin-bottom: 80px;
}
.title p {
  line-height: 28px;
  margin: 0 auto;
}
.services .package {
  margin-bottom: 64px;
}
.package .item .inner {
  padding: 32px !important;
  transition: all 0.5s;
}
.package .item .inner .icon {
  width: 64px;
  height: 64px;
  transition: all 0.5s;
}
.package .item .inner h3 {
  color: #7c2d12;
  line-height: 28px;
}
.package .item .inner p {
  line-height: 26px;
}
.package .item .inner .features span {
  font-size: 14px;
  line-height: 20px;
}
.package .item .inner:hover {
  box-shadow: -5px 5px 10px 7px #f57c2c13;
  transform: translateY(-2%);
}
.package .item .inner:hover .icon {
  transform: scale(110%);
}
.package .item .inner a i {
  transition: all 0.5s;
}
.package .item .inner:hover a i {
  transform: translateX(10%);
}
.tech main {
  margin: 0 10%;
}
.tech main ul {
  margin-bottom: 48px;
}
.tech main ul li a {
  padding: 16px 32px;
  transition: all 0.5s;
  border: solid 2px transparent !important;
  color: #4a5565 !important;
}
.tech main ul li a:hover,
.tech main ul li a.active {
  color: var(--main-color) !important;
  border-bottom-color: var(--main-color) !important;
}
.tech .panel h3 {
  color: #7c2d12;
  font-size: 24px;
  line-height: 32px;
}
.tech .panel .title p {
  font-size: 18px;
  line-height: 28px;
}
.tech .content .inner {
  padding: 32px;
  transition: all 0.5s;
}
.tech .content .inner h4 {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 12px;
  color: #7c2d12;
}
.tech .content .inner:hover {
  transform: translateY(-2%);
  box-shadow: 0 10px 15px 5px rgb(0 0 0 / 0.103);
}
.tech .content .inner .icon {
  width: 64px;
  height: 64px;
}
.tech .content .inner span {
  background-color: #dbeafe;
  padding: 4px 12px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}
.tech .tab-pane {
  animation: fade 1s forwards;
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(90%);
  }
  90% {
    opacity: 1;
    transform: translateY(0) scale(105%);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(100%);
  }
}
.testimonials {
  background-color: #faf9f8;
}
.testimonials main {
  margin: 0 16%;
}
.testimonials .carousel-item {
  padding: 48px;
  border-radius: 24px;
  transition: all 0.5s;
}
.testimonials .carousel-item .icon {
  transition: all 0.5s;
}
.testimonials .carousel-item:hover {
  background-color: #faf9f8 !important;
}
.testimonials .carousel-item:hover .icon {
  transform: scale(110%);
}
.testimonials .status {
  margin-bottom: 32px;
}
.testimonials .status .icon {
  width: 70px;
  height: 70px;
  background-color: #fae8e0;
  font-size: 24px;
  line-height: 32px;
}
.details > span {
  margin-top: 6px;
}
.details i {
  color: gold;
}
.status > div:last-child {
  background-color: #fceee7;
}
.testimonials blockquote,
hr {
  margin-bottom: 32px;
}
.testimonials hr {
  background-image: linear-gradient(to right, #ffffff, gray, white) !important;
  height: 1px;
  border: none;
}
.testimonials .out-image,
.testimonials .out-image .image {
  width: 80px;
  height: 80px;
  padding: 2px;
  border-color: #f7d9c9 !important;
}
.testimonials .profile > div {
  gap: 20px;
}
.testimonials .check {
  width: 24px;
  height: 24px;
}
.testimonials .check i {
  font-size: 14px;
  line-height: 20px;
}
.testimonials .data .name {
  color: #7c2d12;
  font-size: 18px;
  line-height: 28px;
}
.testimonials .lin-in {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  margin-top: 6px;
  gap: 6px;
}
.testimonials .lin-in i {
  color: var(--main-color);
}
.rate > div:first-child {
  font-size: 30px;
  line-height: 36px;
}
.rate > div:last-child {
  font-size: 14px;
  line-height: 20px;
}
.testimonials .carousel-item {
  box-shadow: 0 0 15px 5px rgb(0 0 0 / 0.207);
}
.carousel-indicators button {
  background-color: var(--main-color) !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 999px;
  transition: all 0.5s !important;
  transform-origin: center !important;
}
.carousel-indicators button:hover {
  width: 40px !important;
  border-top-left-radius: 16px !important;
}
.carousel-item {
  transition: transform 0.5s ease-in-out !important;
}
.faq main {
  margin: 0 16%;
}
.faq .accordion-item span {
  margin-right: 32px;
  font-size: 18px;
  line-height: 28px;
  color: #7c2d12;
  height: 40px;
  display: flex;
  align-items: center;
}
.faq .accordion-item .accordion-body {
  line-height: 26px;
}
.faq .accordion-item button {
  position: relative;
  transition: all 0.5s !important;
}
.faq .accordion-item button:hover {
  background-color: #f9fafb !important;
}
.faq .accordion-item:hover {
  border-color: #cc460c73 !important;
}
.faq .accordion-item button:not(.collapsed) {
  background-color: transparent !important;
}
.faq .accordion-item button::after {
  color: var(--main-color) !important;
  content: "\f078";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  background-color: #f7e9e4 !important;
  right: 32px !important;
  width: 40px;
  height: 40px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 50%;
  background-image: none;
}
.contact {
  background-color: #fef9f7;
}
.contact .title h2 span {
  font-size: 72px;
  line-height: 72px;
}
.contact main {
  margin: 0 10%;
}
.contact main .title h3 {
  line-height: 32px;
  color: #7c2d12;
}
.contact main .title p {
  font-size: 18px;
  line-height: 28px;
}
.mb-32 {
  margin-bottom: 32px !important;
}
.mb-12 {
  margin-bottom: 12px !important;
}
.contact form input,
select,
textarea {
  padding: 16px 20px;
}
.contact form input::placeholder {
  color: gray;
}
.contact form label,
.fifth .item .inner p:last-child {
  font-size: 14px;
  line-height: 20px;
}
.contact .fifth .item .inner {
  border-radius: 16px !important;
  border-color: rgb(218, 217, 217) !important;
}
.contact .fifth .item .inner:hover {
  border-color: rgb(192, 192, 192) !important;
  p {
    color: var(--main-color) !important;
  }
}
.contact .fifth .item .inner:focus {
  border-color: #c96b3b !important;
}
.contact .seventh span {
  font-size: 14px;
  line-height: 22.5px;
}
.contact .seventh span a {
  color: var(--main-color);
  text-decoration: none;
}
.contact .seventh input[type="checkbox"] {
  accent-color: #b54409;
  margin: 4px 12px 0 0 !important;
  width: 12px;
  height: 12px;
  transform: scale(1.5);
  margin-right: 12px;
}
.contact .seventh input[type="checkbox"]:focus {
  box-shadow: 0 0 0 3px #cc460c55;
}
.eighth button {
  padding: 20px 0;
  background-image: linear-gradient(to right, #ea580c, #c3420c, #fb913c);
  font-size: 18px;
  line-height: 28px;
  transition: all 0.5s;
}
.eighth button:hover {
  transform: translateY(-5px) !important;
  box-shadow: 5px 7px 10px 0 #cc460c43;
}
.eighth button:hover i {
  transition: all 0.5s;
  transform: translateX(5px);
}
.contact input:focus:not(input[type="checkbox"]),
.contact select:focus,
.contact textarea:focus {
  outline: 1px solid var(--main-color) !important;
  transform: translateY(-5px) !important;
  box-shadow: 0 0 0 3px #cc460c55;
}
.contact main > div {
  border-radius: 24px;
  box-shadow: -15px 15px 20px 0 rgb(0 0 0 / 0.1);
}
.contact .left h4 {
  line-height: 32px;
}
.contact .left .items .icon {
  width: 48px !important;
  height: 48px !important;
  background-color: #c96b3b;
}
.contact .left .items h5 {
  font-size: 16px;
  line-height: 24px;
}
.contact .left .items p {
  font-size: 14px;
  line-height: 20px;
}
.pt-32 {
  padding-top: 32px;
}
.me-12 {
  margin-right: 12px;
}
.di-cont h5 {
  font-size: 16px;
  font-weight: 24px;
}
footer .top {
  gap: 32px;
}
footer .top .right .icon + span {
  font-size: 20px;
  line-height: 28px;
}
footer .top .right p {
  font-size: 14px;
  line-height: 20px;
}
footer .bottom > :first-child {
  font-size: 14px;
  line-height: 20px;
}
footer .bottom > :last-child {
  font-size: 12px;
  line-height: 16px;
}
footer .bottom > :last-child span {
  margin: 0 6px;
  color: red;
}
footer .top .left .icon {
  transition: all 0.5s;
}
footer .top .left .icon:hover {
  background-color: var(--main-color) !important;
  cursor: pointer;
}
footer .top .left .icon:hover a {
  transition: all 0.5s;
  color: white !important;
}
.testimonials .status > div:last-child {
  width: fit-content;
}
@media (min-width: 992px) {
  .nav-link {
    position: relative;
  }
  .nav-link::after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    top: 100%;
    left: 0;
    border-radius: 5px;
    transition: all 0.5s;
  }
  .navbar .nav-item:hover ::after,
  .navbar .nav-link.active::after,
  .navbar .nav-link.active {
    width: 100%;
    color: var(--main-color) !important;
  }
  .mega {
    animation: Mega-fade 0.5s forwards;
  }
}
@media (max-width: 1200px) {
  .hero .package {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 32px;
  }
  .hero .left {
    grid-column: 1 / 2;
    padding-right: 0;
  }
  .hero .right {
    grid-column: 2 / 3;
    margin-top: 0;
  }
}
@media (max-width: 991px) {
  .container-fluid {
    margin: 0 auto;
    padding: 0 24px;
  }
  .testimonials main,
  .faq main,
  .contact main,
  .tech main {
    margin: 0 !important;
  }
  .hero .package {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .hero .right {
    grid-column: 1 / -1;
    margin-top: 32px;
  }
  .hero .left {
    grid-column: 1 / -1;
    padding-right: 0;
  }
  .navbar ul {
    margin: 0 !important;
    margin-top: 16px !important;
    padding: 14px 21px !important;
    gap: 32px !important;
  }
  .btns {
    width: 100%;
  }
  .btns button {
    display: block;
    width: 100%;
    margin: 0 !important;
  }
  .btns button:first-child {
    margin-bottom: 7px !important;
    border: 1px solid rgb(128 128 128 / 0.474) !important;
    border-radius: 32px !important;
  }
  .mega {
    position: static !important;
    width: 100% !important;
    height: 318px !important;
    overflow-y: scroll;
    border-radius: 0 !important;
  }
  .mega .inner {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .item3 {
    grid-column: span 2 !important;
  }
  .item3 .inner-item {
    display: grid !important;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .item3 .inner-item h3,
  .item3 .inner-item .elems {
    grid-column: 1/2 !important;
  }
  .item3 .inner-item .help {
    grid-column: 2/3;
  }

  .hero .hero-icon {
    width: 75px;
    height: 75px;
  }
  .hero .right .hero-icon-1 {
    width: 63px;
    height: 63px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    margin: 0 auto !important;
  }
  .hero .hero-btns button {
    width: 100% !important;
  }
  .hero .hero-btns button:first-child {
    margin-bottom: 12px;
  }
  .mega .inner,
  .item3 .inner-item {
    display: block !important;
  }
  .hero h1 {
    font-size: 31px !important;
    line-height: 39.5px !important;
  }
  .title h2 span {
    font-size: 26px !important;
    line-height: 31.5px !important;
  }
  .contact .title h2 span {
    font-size: 42px !important;
    line-height: 42px !important;
  }
  .package .item .inner,
  .testimonials .carousel-item {
    padding: 24px !important;
  }
  .contact .left > div,
  .contact .right > div {
    padding: 21px !important;
  }
  .contact .seventh input[type="checkbox"] {
    width: initial;
    &:focus {
      pointer-events: none;
    }
  }
  .contact .right > div {
    button {
      font-size: 14px !important;
      line-height: 21px !important;
    }
  }
  .contact .left > div .items {
    h5 {
      font-size: 14px !important;
      line-height: 21px !important;
      margin-bottom: 7px !important;
    }
    p {
      font-size: 12.25px !important;
      line-height: 17.5px !important;
      font-weight: lighter;
    }
  }
  .mega {
    padding: 10.5px !important;
  }
}
@keyframes Mega-fade {
  0% {
    transform: translateY(5%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
